/* 전체 */
body {
  width: 1020px;
  margin: auto;
}

/* title */
.title {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 30px;
  animation-name: moving_title; /* check */
  animation-timing-function: linear;
  animation-duration: 2s; /* check */
  height: 40px;
  overflow: hidden;
}

/* slide right to left */
@keyframes moving_title {
  /* check */
  0% {
    padding-left: 100%;
  }
  50% {
    padding-left: 50%;
  }
  100% {
    padding-left: 0%;
  }
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: powderblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* 위에 커서를 놓았을 때 변하는 색깔 */
li a:hover {
  background-color: greenyellow;
}

#main_container {
  display: flex;
}

#side_container {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  width: 20%;
  height: 100%;
}

#product_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.product {
  display: flex;
  width: 50%;
  height: 50%;
}

.product_img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.product_img + p {
  position: absolute;
  z-index: 1;
  font-size: large;
  font-weight: bolder;
  color: red;
  display: none;
}
